<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('includes/head', { title: 'Post title' }) %>
  <link rel="stylesheet" href="/styles/posts.css">
</head>

<body>
  <%- include('includes/header') %>
  <main id="post-detail">
    <h1><%= result.title %> </h1>
    <section id="post-meta">
      <address><a href="mailto:<%= result.email %> ">Contact Author</a></address>
    </section>
    <hr>
    <section>
      <p id="body"><%= result.body %> </p>
    </section>
  </main>
</body>

</html>