<article>
    <!-- <h2><%= restaurant.name %></h2>
    <div class="restaurant-meta">
      <p><%= restaurant.cuisine %></p>
      <p><%= restaurant.address %></p>
    </div>
    <p>
      <%= restaurant.description %>
    </p>
    <div class="restaurant-actions">
      <a href="<%= restaurant.website %>">View Restaurant</a>
    </div> -->
    <h1>hello <%= restaurant %>   </h1>
  </article>